@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1057px;
  padding: 0 15px;
}

@media (max-width: 1057px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}
/*---------------------------------------------------------------------------*/
body._lock {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  height: 114px;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__container {
    height: 80px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .header__button {
    flex: 0 0 170px;
  }
}

.menu__list {
  display: flex;
  justify-content: flex-end;
}
.menu__item {
  margin-right: 40px;
}
@media (max-width: 991.98px) {
  .menu__item {
    margin-right: 30px;
  }
}
.menu__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #000000;
}

.button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  padding: 14px 30px;
  display: inline-block;
  text-transform: uppercase;
}
@media (max-width: 380px) {
  .button {
    padding: 14px 10px;
  }
}
.button_blue {
  background: #4285F4;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
  }
  .menu__icon span, .menu__icon:before, .menu__icon:after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu__icon:before, .menu__icon:after {
    content: "";
  }
  .menu__icon:before {
    top: 0;
  }
  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active:before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px 30px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__list > li {
    margin-bottom: 30px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0px;
  }
  .menu__link {
    font-size: 24px;
    color: #000;
  }
  .header__button {
    flex: 0 0 150px;
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) and (max-width: 380px) {
  .header__button {
    margin-right: 10px;
    flex: 0 0 80px;
  }
}
/*---------------------------------------------------------------------------*/
.main {
  flex: 1 1 auto;
}

.get-started {
  background: #FAFBFD;
}
.get-started__container {
  padding: 150px 15px 50px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767.98px) {
  .get-started__container {
    padding: 100px 15px 50px 30px;
  }
}
.get-started__container:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  background-color: #EC5863;
  border-radius: 30px 0px 0px 30px;
  transform: translate(100%, 0px);
}
@media (max-width: 991.98px) {
  .get-started__container:before {
    right: 185px;
  }
}
@media (max-width: 767.98px) {
  .get-started__container:before {
    display: none;
  }
}
.get-started__content {
  flex: 0 1 48%;
  padding: 0 20px;
}
@media (max-width: 767.98px) {
  .get-started__content {
    flex: 1 1 100%;
    padding: 0;
  }
}
.get-started__image {
  flex: 0 1 52%;
  z-index: 2;
}
.get-started__image img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .get-started__image {
    flex: 1 1 100%;
    text-align: center;
    padding: 30px 0px;
  }
}
.get-started__video {
  flex: 1 1 100%;
}
@media (max-width: 767.98px) {
  .get-started__video {
    padding: 0px;
  }
}

.block-text__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
}
@media (max-width: 767.98px) {
  .block-text__title {
    font-size: 34px;
  }
}
.block-text__title span {
  color: #EC5863;
}
.block-text__title_blue span {
  color: #4285F4;
}
.block-text__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
  margin: 12px 0px 24px 0px;
  max-width: 410px;
}
@media (max-width: 767.98px) {
  .block-text__text {
    max-width: none;
  }
}
.block-text__button {
  background: #EC5863;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 767.98px) {
  .block-text__button {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.video-get-started {
  display: inline-flex;
  margin-top: 60px;
  position: relative;
  margin-left: 20px;
}
@media (max-width: 767.98px) {
  .video-get-started {
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 0px;
    margin-left: 0px;
  }
}
.video-get-started__icon {
  margin-right: 12px;
}
.video-get-started__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}
@media (max-width: 767.98px) {
  .video-get-started__title {
    font-size: 16px;
  }
}
.video-get-started__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
}
@media (max-width: 767.98px) {
  .video-get-started__text {
    font-size: 13px;
  }
}

/*---------------------------------------------------------------------------*/
.stay-safe {
  padding: 80px;
}
@media (min-width: 991.98px) {
  .stay-safe {
    padding: 60px;
  }
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .stay-safe__container {
    flex-direction: column-reverse;
  }
}
.stay-safe__media {
  flex: 0 1 50%;
  text-align: center;
}
@media (min-width: 991.98px) {
  .stay-safe__media {
    padding-left: 47px;
  }
}
.stay-safe__content {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .stay-safe__content {
    margin-bottom: 30px;
  }
}

.media-stay-safe {
  padding: 56px 0px 15px 0px;
  width: 373px;
  position: relative;
}
@media (max-width: 767.98px) {
  .media-stay-safe {
    width: 290px;
  }
}
.media-stay-safe__image {
  position: relative;
  z-index: 2;
}
.media-stay-safe__item {
  background: #EC5863;
  border-radius: 30px;
  position: absolute;
  width: 77px;
  height: 77px;
}
.media-stay-safe__item_1 {
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
}
.media-stay-safe__item_2 {
  top: 59%;
  left: 70%;
}
.media-stay-safe__item_3 {
  top: 83%;
  left: 32px;
}

/*---------------------------------------------------------------------------*/
.experts {
  background: #FAFBFD;
  padding: 104px 0px 116px 0px;
}
@media (max-width: 767.98px) {
  .experts {
    padding: 50px 0px 60px 0px;
  }
}
.experts__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767.98px) {
  .experts__container {
    flex-direction: column;
  }
}

.statistics-experts {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 654px;
  flex: 1 1 100%;
  margin-bottom: 80px;
}
@media (max-width: 767.98px) {
  .statistics-experts {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .statistics-experts {
    margin-bottom: 40px;
    max-width: 300px;
  }
}
.statistics-experts__body {
  max-width: 654px;
  padding: 28px 80px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
@media (max-width: 600px) {
  .statistics-experts__body {
    flex-direction: column;
    max-width: 300px;
  }
}
.statistics-experts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .statistics-experts__item {
    margin-bottom: 30px;
  }
}
.statistics-experts__value {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  color: #EC5863;
  margin-bottom: 5px;
}
.statistics-experts__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}
.statistics-experts__decor {
  background: #EC5863;
  position: absolute;
}
.statistics-experts__decor_1 {
  top: 70px;
  left: -20px;
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  transform: rotate(-30deg);
}
@media (max-width: 600px) {
  .statistics-experts__decor_1 {
    top: 280px;
    left: -30px;
  }
}
.statistics-experts__decor_2 {
  top: -34.18%;
  left: 220px;
  width: 96.96px;
  height: 96.96px;
  border-radius: 30px;
  transform: rotate(105deg);
}
@media (max-width: 600px) {
  .statistics-experts__decor_2 {
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0) rotate(105deg);
  }
}
.statistics-experts__decor_3 {
  top: 0;
  right: -50px;
  width: 127.47px;
  height: 127.47px;
  border-radius: 30px;
  transform: rotate(-30deg);
}
@media (max-width: 600px) {
  .statistics-experts__decor_3 {
    top: 250px;
    right: -50px;
  }
}

.experts__content {
  flex: 0 1 50%;
  padding-right: 20px;
}
@media (max-width: 767.98px) {
  .experts__content {
    margin-bottom: 30px;
  }
}
.experts__video {
  flex: 0 1 50%;
  position: relative;
  padding: 0 0 27% 0;
}
@media (max-width: 767.98px) {
  .experts__video {
    align-self: stretch;
    padding: 0 0 54% 0;
  }
}
.experts__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-text__text {
  max-width: 375px;
}

/*---------------------------------------------------------------------------*/
.healthcare {
  padding: 80px 0 70px 0;
}
.healthcare__body {
  margin-top: 46px;
}
.healthcare__row {
  display: flex;
}
@media (max-width: 700px) {
  .healthcare__row {
    flex-direction: column;
  }
}
.healthcare__column {
  flex: 0 1 33.333%;
  padding: 36px;
}
@media (max-width: 1057px) {
  .healthcare__column {
    padding: calc(15px + 21 * ((100vw - 320px) / 737));
  }
}
@media (max-width: 700px) {
  .healthcare__column {
    margin-bottom: 20px;
  }
}
.healthcare__column_1 {
  position: relative;
}
.healthcare__column_1:before {
  content: "";
  background: #EC5863;
  border-radius: 16px;
  transform: rotate(-30deg);
  width: 65.75px;
  height: 65.75px;
  position: absolute;
  left: 20px;
  top: 230px;
}
@media (max-width: 700px) {
  .healthcare__column_1:before {
    left: 20px;
    top: 230px;
  }
}
.healthcare__column_1:after {
  content: "";
  width: 96.96px;
  height: 96.96px;
  left: 255px;
  top: 50px;
  background: #EC5863;
  border-radius: 30px;
  transform: rotate(105deg);
  position: absolute;
}
@media (max-width: 700px) {
  .healthcare__column_1:after {
    left: 555px;
    top: -20px;
  }
}
@media (max-width: 700px) and (max-width: 1057px) {
  .healthcare__column_1:after {
    left: calc(115px + 440 * ((100vw - 320px) / 737));
  }
}
.healthcare__column_2 {
  position: relative;
}
.healthcare__column_2:after {
  content: "";
  position: absolute;
  width: 127.47px;
  height: 127.47px;
  right: -50px;
  bottom: 20px;
  background: #EC5863;
  border-radius: 30px;
  transform: rotate(-30deg);
}
@media (max-width: 700px) {
  .healthcare__column_2:after {
    left: 20px;
    top: 230px;
  }
}
.healthcare__column_3 {
  position: relative;
}
.healthcare__column_3:after {
  content: "";
  position: absolute;
  width: 65.75px;
  height: 65.75px;
  right: 10px;
  top: 10px;
  background: #EC5863;
  border-radius: 16px;
  transform: rotate(-30deg);
}
@media (max-width: 700px) {
  .healthcare__column_3:after {
    left: 20px;
    top: 230px;
  }
}
.healthcare__item {
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  padding: 36.65px 17.82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 5;
}
.healthcare__text {
  margin: 58px 0 4px 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #000000;
}
.healthcare__subtext {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #616161;
  flex: 1 1 auto;
}

.block-text_cntr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-text_mw {
  max-width: 600px;
  text-align: center;
}

/*---------------------------------------------------------------------------*/
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
  margin-bottom: 20px;
}
@media (max-width: 400px) {
  .footer__container {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}